
 body {
     font-family: "Open Sans", "DejaVu Sans", "Sans", sans-serif;
     font-weight: 300;
     font-style: normal;
     word-spacing: -0.05em;
     letter-spacing: -0.01em;
     text-rendering: optimizeLegibility;
     font-size: 10px;
     -webkit-font-smoothing: antialiased;
     font-family: "Open Sans", "DejaVu Sans", "Sans", sans-serif;
     font-weight: 300;
     font-style: normal;
     background: #fff;
     padding-top: 70px;
 }
