<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="/static/addon/bootstrap.min.css">
    <link rel="stylesheet" href="/static/addon/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/addon/weather-icons.min.css" />
    <link href="/static/addon/c3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<style>
.container {
    width: auto;
}

#temp {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 3em;
    width: 200px;
    text-align: right;
}

body {
    padding-top: 70px;
}
</style>
<script src="/static/addon/d3.min.js" charset="utf-8"></script>
<script src="/static/addon/c3.min.js"></script>
<script src="/static/addon/jquery-2.1.3.min.js"></script>
<script src="/static/addon/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/addon/socket.io.min.js"></script>
<script type="text/javascript" src="/static/addon/angular.js"></script>
<script type="text/javascript" src="/static/app.js"></script>
<script type="text/javascript" src="/static/addon/largest-triangle-three-buckets.v0.1.0.js"></script>
<script type="text/javascript" src="/static/addon/angular-timer-all.min.js"></script>

<body ng-app="myApp">
    {% raw %}
    <div class="container" ng-controller="ArticlesCtrl">
        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <nobr><i class="fa fa-beer"></i> CraftBeerPI</nobr>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <button ng-click="agitator()" class="btn btn-default navbar-btn">Rührwerk
                                <i ng:if="agitatorState" class="fa fa-refresh fa-spin"></i>
                                <i ng:if="!agitatorState" class="fa fa-refresh"></i>
                            </button>
                        </li>
                         <li>
                            <button ng-click="heating()" class="btn btn-default navbar-btn">Heizung
                                <i ng:if="heatingState" class="fa fa-fire"></i>
                              
                            </button>
                        </li>
                        <li>
                            <button ng-click="pid()" class="btn btn-default navbar-btn">Heizautomatik
                                <i ng:if="pidState" class="fa fa-car"></i>
                              
                            </button>
                        </li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-6">
                <div id="temp"><i class="wi wi-thermometer"></i> <b>{{temp}}°C</b>
                </div>
                <div id="chart"></div>



                <div class="col-md-12">



                    <div class="panel panel-default" data-toggle="tooltip" data-placement="top">
                    <div class="panel-heading">
                        <span class="panel-title"><i class="fa fa-list"></i> Ablauf</span>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button ng-click="reset()" class="btn btn-warning btn-xs"><i class="fa fa-fast-backward"></i> Reset </button>
                                <button ng-click="start()" class="btn btn-primary btn-xs"><i class="fa fa-play"></i> Start </button>
                            </div>
                        </div>
                    </div>
                    <table class="table " ng-app="myApp">
                        <thead>
                            <td class="col-md-1">Typ</td>
                            <td>Schritt</td>
                            <td class="hidden-xs"><i class="wi wi-thermometer"></i>Temp</td>
                            <td class="visible-xs"><i class="wi wi-thermometer"></i></td>
                            <td>Timer</td>
                            <td></td>
                        </thead>
                        <tr ng-class="whatClassIsIt(item)" ng-repeat="item in steps track by $index">
                            <td class="col-md-1"><span class="badge">{{ item.type }}</span></td>
                            <td><strong>{{ item.name }}</strong> <i ng-class="stateClassIcon(item)"></i>
                                <br>
                                <small>{{ item.start2 | date:'HH:mm:ss' }} - {{ item.end2 | date:'HH:mm:ss' }}</small></td>
                            <td><span>{{ item.temp }} °C</span></td>
                            <td>
                                <timer ng-if="item.state == 'A' && item.timer_start != null" end-time="item.timer_start + (item.timer * 1000 *  60)" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}
                                </timer> ({{ item.timer }} min)
                            </td>
                            <td>
                                <button ng-if="item.state == 'A'" ng-click="next()" class="btn btn-primary btn-sm btn-sm hidden-xs">Weiter <i class="fa fa-forward"></i></button>
                                <button ng-if="item.state == 'A'" ng-click="next()" class="btn btn-primary btn-sm visible-xs"><i class="fa fa-forward"></i></button>
                            </td>
                        </tr>
                    </table>
                   
                  
                </div>

                </div>
            </div>



            <div class="col-md-6">


                
                    <div class="panel panel-default" data-toggle="tooltip" data-placement="top">
                        <div class="panel-heading"><i class="fa fa-align-left"></i> Protokoll</span>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Kommentar" ng-model="message">
                                <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="addlog()"><i class="fa fa-pencil"></i></button>
                          </span>
                            </div>                       
                        </div>
                         <table class="table table-striped">
                                    <tr ng-repeat="item in log track by $index">
                                        <td class="col-md-1">{{item.time | date:'HH:mm:ss'}}</td>
                                        <td>{{item.text}}</td>
                                    </tr>
                                </table>
                    </div>




            </div>
        </div>
    </div>
    {% endraw %}
</body>

</html>