{% raw %}
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <nobr><i class="fa fa-beer"></i> CraftBeerPI</nobr>
            </a>
            <p class="navbar-text">
                <nobr>
                <i ng:if="gpioState('gpio_heat')" class="fa fa-fire"></i>&nbsp;
                <i ng:if="gpioState('gpio_agitator')" class="fa fa-refresh fa-spin"></i> &nbsp;
                <i ng:if="pidState" class="fa fa-car"></i> &nbsp;
                <i class="wi wi-thermometer{{point}}"></i> <b>{{temp}}°C</b></nobr>
            </p>
        </div>
        <div id="navbar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% endraw %}