{% raw %}
<div class="panel panel-default" data-toggle="tooltip" data-placement="top">
    <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-list"></i> {{brew_name}}</span>
        <div class="btn-group pull-right">
            <div class="btn-group">
                <button ng-disabled="started() == false" ng-click="reset()" class="btn btn-warning btn-xs"><i class="fa fa-fast-backward"></i> Reset </button>
                <button  ng-disabled="started()" ng-click="start()" class="btn btn-primary btn-xs"><i class="fa fa-play"></i> Start </button>
                <button ng-click="pid()" ng-class="{'btn-success': pidState}" class="btn btn-primary btn-xs">
                    <i class="fa fa-car"></i> Automatic

                </button>
            </div>
        </div>
    </div>
    <table class="table " ng-app="myApp">
        <thead>
            <td class="col-md-1">Type</td>
            <td>Step</td>
            <td><i class="wi wi-thermometer"></i> <span class="hidden-xs">Temp</span></td>
            <td><i class="fa fa-clock-o"></i> <span class="hidden-xs">Timer</span></td>
            <td></td>
        </thead>
        <tr ng-class="whatClassIsIt(item)" ng-repeat="item in steps track by $index">
            <td class="col-md-1"><span class="badge">{{ item.type }}</span></td>
            <td><strong>{{ item.name }}</strong> <i ng-class="stateClassIcon(item)"></i>
                <br>
                <small>{{ item.start2 | date:'HH:mm:ss' }} - {{ item.end2 | date:'HH:mm:ss' }}</small></td>
            <td><span>{{ item.temp }} °C</span></td>
            <td>
                <timer ng-if="item.state == 'A' && item.timer_start != null" end-time="item.timer_start + (item.timer * 1000 *  60)" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}
                </timer> ({{ item.timer }} min) <i ng:if="item.stir_heatup == 'Y'" class="fa fa-refresh">
            </td>
            <td>
                <button ng-if="item.state == 'A'" ng-click="next()" class="btn btn-primary btn-sm btn-sm hidden-xs">Weiter <i class="fa fa-forward"></i></button>
                <button ng-if="item.state == 'A'" ng-click="next()" class="btn btn-primary btn-sm visible-xs"><i class="fa fa-forward"></i></button>
            </td>
        </tr>
    </table>
</div>
{% endraw %}
