<div class="container" ng-controller="SetupController">

  <h2>Please Select your Vessel Setup</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>1 Vessel</h3>
          <p>For example an Automatic Preserving Cooker<br>&nbsp;</p>
          <p><a href="#" class="btn btn-primary" role="button" ng-click="setup(1)">Create</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <div class="caption">
          <h3>2 Vessel</h3>
          <p>For example Mash Tun and Hot Liquor Tank<br>&nbsp;</p>
          <p><a href="#" class="btn btn-primary" role="button" ng-click="setup(2)">Create</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <div class="caption">
          <h3>3 Vessel</h3>
          <p>For example Mash Tun, Boil Tank and Hot Liquor Tank (RIMS / HERMS)</p>
          <p><a href="#" class="btn btn-primary" role="button" ng-click="setup(3)">Create</a></p>
        </div>
      </div>
    </div>
  </div>
