<div class="container" ng-controller="KettleController">
  <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
    <div class="panel-heading"><i class="fa fa-line-chart"></i> {{kettle.name}}</span>
    </div>
    <div class="panel-body">
      

      <kettleform></kettleform>

      <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a href back-button class="btn btn-default" role="group">
            <span class="badge"><i class="fa fa-arrow-circle-left"></i></span> Cancel</a>
        </div>
        <div class="btn-group" role="group">
          <a href class="btn btn-danger" role="group" ng-click="delete()">
            <span class="badge"><i class="fa fa-times-circle"></i></span> Delete</a>
        </div>
        <div class="btn-group" role="group">
          <a href class="btn btn-success" role="group" ng-click="save()">
            <span class="badge"><i class="fa fa-check"></i></span> Save</a>
        </div>
      </div>

    </div>
  </div>

</div>
