body {
    background-image: url("../images/wood.jpg");
}

.panel {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}