<style>
  .temp {
    font-size: 3.0em;
  }

  .headline {
    font-size: 1.5em;
  }
  .k1 {
    width: 250px;
    height: 350px;
    background-image: url("/static/kettle2.png");
    margin-bottom: 10px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
  }

  .k1 .title {
    position: relative;
    top: 10px;
    left: 10px;
    width: 230px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #626262;
    font-size: 2em;
    border-radius: 5px;
  }

  .k1 .control {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 230px;
    text-align: center;
    font-size: 2em;
  }

  .chart {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  top: 40px;
  left: 20px;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  font-size: 2em;
  z-index: 2;
}
.percent:after {
  content: '°';
  margin-left: 0.1em;
  font-size: .8em;
}
</style>

<div class="k1" ng-class="kettleState(v.id)" >
  <div class="title">{{v.name}}</div>


  <canvas class="chart" canvas-gauge id="{{v.name}}">

  <div class="btn-group btn-group-justified control" role="group ">
    <div class="btn-group" role="group" ng-if="v.heater">
      <button class="btn btn-default" role="group" ng-click="setTargetTemp(v)">
        <span class="badge"><i class="fa fa-crosshairs"></i></span>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-default" role="group" ng-if="v.automatic" ng-class="automiticState(v)" ng-click="switch_automatic(v)">
        <span class="badge"><i class="fa fa-car"></i></span>
      </button>
    </div>
    <div class="btn-group" role="group">

      <button class="btn btn-default" role="group" ng-if="v.heater" ng-class="buttonState(v.heater)" ng-click="switchGPIO(v.heater)">
        <span class="badge"><i class="fa fa-fire"></i></span>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-default" role="group" ng-if="v.agitator" ng-class="buttonState(v.agitator)" ng-click="switchGPIO(v.agitator)">
        <span class="badge"><i class="fa fa-refresh "></i></span>
      </button>
    </div>
  </div>
</div>
