<div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top"  >

  <div class="panel-heading">
      <span class="panel-title"><i class="fa fa-list"></i> {{ config["BREWNAME"]}}</span>

      <div class="btn-group pull-right" role="group" aria-label="...">

        <div class="btn-group" role="group">
          <button  ng-click="reset()" class="btn btn-warning btn-xs"><i class="fa fa-fast-backward"></i> {{"RESET" | translate}} </button>
        </div>
        <div class="btn-group" role="group">
          <button  ng-disabled="started()" ng-click="start()" class="btn btn-primary btn-xs"><i class="fa fa-play"></i> {{"START" | translate}} </button>
        </div>

      </div>
  </div>

    <table class="table">
        <thead>
            <td class="col-md-1">{{"TYPE" | translate}}</td>
            <td>Step</td>
            <td><i class="wi wi-thermometer" data-toggle="tooltip" title="{{'TOOLTIP_TARGET_TEMPERATURE' | translate}}"></i> </td>
            <td><i class="fa fa-clock-o" data-toggle="tooltip" title="{{'TOOLTIP_STEP_DURATION' | translate}}"></i> </td>
            <td></td>
        </thead>
        <tr ng-class="stepStyle(item)" ng-repeat="item in steps track by $index">
            <td class="col-md-1"><span class="badge">{{ item.type }}</span></td>
            <td style="overflow: hidden;"><strong>{{ item.name }}</strong> <i ng-class="stateClassIcon(item)"></i>
                <br>
                <small>{{ item.timer_start | date:'HH:mm:ss'}} - {{ item.end | date:'HH:mm:ss' }}</small><br/>
                </td>
            <td><span>{{ item.temp }} °{{ config["UNIT"]}}</span></td>
            <td>
                 <nobr>({{ item.timer }} min)</nobr><br>
                <small ng-if="item.timer_start">
                  <timer ng-if="item.timer <= 1440 && item.state == 'A' && item.timer_start != null" end-time="toTimestamp(item.timer_start) + (item.timer * 1000 *  60)" interval="1000"> {{hhours}}:{{mminutes}}:{{sseconds}}
                  </timer>
                  <timer ng-if="item.timer > 1440 && item.state == 'A' && item.timer_start != null" end-time="toTimestamp(item.timer_start) + (item.timer * 1000 *  60)" interval="1000"> {{days}} days {{hhours}}:{{mminutes}}:{{sseconds}}
                  </timer>
                </small><br>
                <i ng:if="item.stir_heatup == 'Y'" class="fa fa-refresh">
            </td>
            <td>
                <button ng-if="item.state == 'A'" ng-click="next()" class="btn btn-primary btn-sm"><i class="fa fa-forward"></i></button>
            </td>
        </tr>
    </table>

  </div>
</div>
