<div class="modal-header" >
    <h4 class="modal-title"><i class="fa fa-crosshairs"></i> {{kettle.name}}</h4>
</div>
<div class="modal-body">


<div class="form-group">
  <input type="number" placeholder="Target Temp in °C" ng-model="target_temp"  class="form-control">
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()"><i class="fa fa-times-circle"></i></button>
    <button class="btn btn-success" type="button" ng-click="ok()"><i class="fa fa-check"></i></button>

</div>
