<div class="modal-header" >
    <h4 class="modal-title"></i>Calculate Volume {{kettle.name}}</h4>
</div>
<div class="modal-body">


<div class="form-group">
  <label>Height:</label>
  {{kettle.height}} cm
</div>
<div class="form-group">
  <label>Diameter:</label>
  {{kettle.diameter}} cm
</div>
<div class="form-group">
  <label>Max Volume:</label>
  {{maxvolume()}} Litre
</div>
<div class="form-group">
  <label>Free cm from top:</label>
  <input type="number" ng-model="free"  class="form-control">
</div>

<div class="form-group">
  <label>Current Volume:</label>
  {{volume()}} Litre
</div>
</div>
<div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="ok()"><i class="fa fa-check"></i></button>
</div>
