<style>


.item {
	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

</style>

<div ng-controller="MyController">
  


  <ul class="list" ui-sortable ng-model="hosts">
    <li class="item" ng-repeat="item in hosts"><a href="#/step/{{item.id}}">{{ item.name }}</a></li>
  </ul>




  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" ng-model="step.name" class="form-control">
    </div>
    <select class="form-control" ng-model="step.type">
      <option ng-repeat="t in type" value="{{t.key}}" ng-selected="step.type == t.key">{{t.value}}</option>
    </select>
    <a class="btn btn-success" href="" ng-click="save()">Save</a>
  </form>
</div>
