{% raw %}

<div class="panel panel-default" data-toggle="tooltip" data-placement="top" id="gpio_buttons" >

  <div class="panel-heading"><i class="fa fa-align-left"></i> Temperatur</span>
  </div>
    <table class="table">
        <thead>
            <td class="col-md">Name</td>
            <td><i class="wi wi-thermometer"></i> <span class="hidden-xs">Temp</span></td>
        </thead>
        <tr ng-repeat="(key, value) in thermometer">
            <td><strong>{{ key }}</strong></td>
            <td><span>{{ value }} °C</span></td>
        </tr>
    </table>

</div>

{% endraw %}
