<section class="gray-bg cta" id="download">

  <div class="container">

    <div class="row">
      <div class="col-md-8 cta-message">
        <p><strong>CraftBeerPI</strong> is the perfect solution for home brewing automation.</p>
      </div>
      <div class="col-md-4 cta-button">
        <p class="text-center"><a class="btn btn-qubico" href="https://github.com/Manuel83/craftbeerpi"><i class="fa fa-github"></i>Download from GitHub</a></p>
      </div>
    </div>
    <!--End row-->

  </div>
  <!--End container -->
</section>
