<section class="withe-bg cta">
  <div class="container features">
    <h1 class="section-title">CraftBeerPi Shield</h1>
    <div class="row">
      <div class="col-md-4 cta-button">
        <p class="text-center"><a class="btn btn-qubico" href="http://wwww.faceboo.com/craftbeerpi"><i class="fa fa-facebook"></i>Comment on Facebook</a></p>
      </div>
      <div class="col-md-8 cta-message">
        <p>Currenlty under development.<br> The next step to simplify <strong>CraftBeerPi hardware</strong> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 cta-message text-center">
        <img src="assets/shield4.png"/>
      </div>
    </div>
  </div>

  <!--End container -->

</section>

<section class="gray-bg cta">

  <div class="container">

    <div class="row">
      <div class="col-md-4 cta-message">
        <img src="assets/shield1.png"/>
      </div>
      <div class="col-md-4 cta-message">
        <img src="assets/shield2.png"/>
      </div>
      <div class="col-md-4 cta-message">
        <img src="assets/shield3.png"/>
      </div>
    </div>
    <!--End row-->

  </div>
  <!--End container -->
</section>
