<header id="home" class="jumbotron">

  <div id="sequence-theme">

    <div id="sequence">

      <ul class="controls">
        <li class="sequence-prev"><i class="fa fa-angle-left fa-fw"></i></li>
        <li class="sequence-next"><i class="fa fa-angle-right fa-fw"></i></li>
      </ul>

      <ul class="sequence-canvas container">
        <li class="animate-in">
          <div class="message-slide1">
            <h2 class="title in-from-left fast">Welcome to CraftBeerPI</h2>
            <p class="in-from-bottom fast delay2">The Raspberry PI based home brew controller</p>
          </div>
          <div class="slide1-img in-from-top fast">
            <img class="img-responsive" src="assets/slider/imac.png" alt="" />
            <div class="imac-screen">
              <img class="img-responsive" src="assets/slider/placeholder-500x300.jpg" alt="" />
            </div>
          </div>
          <div class="slide3-img2 in-from-right slow delay1">
            <img class="img-responsive" src="assets/slider/raspi.png" alt="" />
          </div>

        </li>
        <li>
          <div class="message-slide2">
            <h2 class="title in-from-right fast delay1">Modern &amp; Powerfull</h2>
            <p class="in-from-bottom fast delay2">Control your brewing process remotely</p>
          </div>
          <div class="slide2-img in-from-top fast">
            <img class="img-responsive" src="assets/slider/ipad-flat.png" alt="" />
            <div class="ipad-screen">
              <img class="img-responsive" src="assets/slider/placeholder-300x400.jpg" alt="" />
            </div>
          </div>
        </li>
        <li>
          <div class="message-slide3">
            <h2 class="title in-from-left fast delay1">100% Responsive Design</h2>
            <p class="in-from-left fast delay3">On modern browsers and touch devices</p>
          </div>
          <div class="slide3-img1 in-from-top fast">
            <img class="img-responsive" src="assets/slider/imac.png" alt="" />
            <div class="imac-screen">
              <img class="img-responsive" src="assets/slider/placeholder-500x300.jpg" alt="" />
            </div>
          </div>
          <div class="slide3-img2 in-from-top fast delay1">
            <img class="img-responsive" src="assets/slider/ipad-flat.png" alt="" />
            <div class="ipad-screen">
              <img class="img-responsive" src="assets/slider/placeholder-300x400.jpg" alt="" />
            </div>
          </div>
          <div class="slide3-img3 in-from-top fast delay2">
            <img class="img-responsive" src="assets/slider/iphone-flat.png" alt="" />
            <div class="iphone-screen">
              <img class="img-responsive" src="assets/slider/placeholder-80x140.jpg" alt="" />
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>

</header>
<!--End header -->
