<section id="about" class="white-bg padding-top-bottom">

  <div class="container features">
    <h1 class="section-title">Main Features</h1>
    <p class="section-description">These are some of CraftBeerPI's great features. Explore the possibilities...</p>
    <div class="row">
      <div class="col-sm-4 scrollimation fade-up">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-cubes"></i>
            <i class="media-object icon-2 fa fa-cubes"></i>
          </div>

          <div class="media-body">
            <h4>Flexible Kettle Configuration<br>&nbsp;</h4>
            <p>From simple 1 kettle preserving cooker to 3 kettle RIMS or HERMS setup</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 scrollimation fade-up d1">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-list-ol"></i>
            <i class="media-object icon-2 fa fa-list-ol"></i>
          </div>

          <div class="media-body">

            <h4>Flexible Brew Step Configuraiton</h4>
            <p>Configure your own brew steps. From mashing over boiling to whirlpool</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d2">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-upload"></i>
            <i class="media-object icon-2 fa fa-upload"></i>
          </div>

          <div class="media-body">

            <h4>Import recipes from "Kleiner Brauhelfer"</h4>
            <p>Plan your brew at "Kleiner Brauhelfer" and import the recipes to CraftBeerPI</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 scrollimation fade-up">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-fire"></i>
            <i class="media-object icon-2 fa fa-refresh"></i>
          </div>
          <div class="media-body">
            <h4>Heater &amp; Agitator Control</h4>
            <p>Control heater and agitator via web interface</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 scrollimation fade-up d1">
        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-car"></i>
            <i class="media-object icon-2 fa fa-car"></i>
          </div>
          <div class="media-body">
            <h4>PID Controller</h4>
            <p>The PID Controller takes care to meet the target temperatue of your kettle</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d2">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-area-chart"></i>
            <i class="media-object icon-2 fa fa-area-chart"></i>
          </div>

          <div class="media-body">

            <h4>Temperature Chart</h4>
            <p>Temprature data is recorded and displayed as a line chart</p>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>
