<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>

      <!-- ======= LOGO ========-->
      <a class="navbar-brand scrollto" href="#home">
        <span class="logo-small"><img src="assets/logo-small.png" alt=""/></span>
        <span class="to-top"><i class="fa fa-arrow-up"></i></span> CraftBeerPI 2.1

        <!-- ==== Image Logo ==== -->
        <!--<img class="site-logo" src="assets/logo.png" alt="logo" />-->
      </a>

    </div>

    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="sr-only">
          <a href="#home" class="scrollto">Home</a>
        </li>
        <li>
          <a href="#download" class="scrollto">Download</a>
        </li>
        <li>
          <a href="#about" class="scrollto">Features</a>
        </li>
        <li>
          <a href="#install" class="scrollto">Installation</a>
        </li>

        <li>
          <a href="#license" class="scrollto">License</a>
        </li>
        <li>
          <a href="#portfolio" class="scrollto">Screenshots</a>
        </li>



        <li>
          <a href="#donation" class="scrollto">Donate</a>
        </li>
        <li>
          <a href="#contact" class="scrollto">Contact</a>
        </li>
        <li>
          <a href="http://www.facebook.com/craftbeerpi" class="scrollto">Facebook</a>
        </li>


      </ul>
    </div>
    <!--End navbar-collapse -->

  </div>
  <!--End container -->

</div>
