<section class="color-bg light-typo padding-top-bottom">

      <div class="container">

        <h1 class="section-title">Trailer</h1>
        <p class="section-description">Watch CraftBeerPI in action</p>

        <div class="row">

          <div class="col-sm-10 col-sm-offset-1">

            <div class="macbook-frame">

              <img class="img-responsive img-center" src="assets/macbook.png" alt=""/>

              <div class="macbook-screen">
                <iframe width="640" height="360" src="http://www.youtube.com/embed/2zM2dnFyB5w?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>

          </div>

        </div><!-- End row -->

      </div><!-- End container -->

    </section>


    <section id="about" class="white-bg padding-top-bottom">

      <div class="container">
        <h1 class="section-title">Hardware</h1>
        <p class="section-description">The CraftBeerPI has very small hardware requirements</p>

        <div class="row services">
          <div class="col-sm-4 item text-center scrollimation fade-right d2">
            <div class="icon"><img src="assets/raspi.png" /></div>
            <h3>Raspberry PI<br/>&nbsp;</h3>
            <p>The software is running on every Raspberry PI Model.</p>
          </div>

          <div class="col-sm-4 item text-center scrollimation fade-up">

            <div class="icon"><i class="wi wi-thermometer"></i></div>
            <h3>1-Wire Digital Temperatursensor</h3>
            <p>1-Wire Temperatursensor (DS1820) can be connected to observe the Kettle temperature</p>

          </div>

          <div class="col-sm-4 item text-center scrollimation fade-left">

            <div class="icon"><i class="fa fa-bolt"></i></div>
            <h3>Relays<br/>&nbsp;</h3>
            <p>Relay boards or solid state relais (SSR) can be connected to control the heater or agitator</p>

          </div>
        </div>
      </div>
    </section>
