<div ng-controller="PumpOverviewController">

	<div class="row">

		<div class="col-sm-7">
			<div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
				<div class="panel-heading">
					Hardware
				</div>

				<table class="table">
					<thead>
						<td>Name</td>
						<td>Switch</td>
					</thead>
					<tr ng-repeat="item in pumps track by $index">
						<td>
							<a href="#/pump/{{item.id}}">{{ item.name }}</a>
						</td>
						<td>
							{{ item.switch }}
						</td>

					</tr>
				</table>
			</div>
		</div>


		<div class="col-sm-5">
			<div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
				<div class="panel-heading">
					New Hardware
				</div>
				<div class="panel-body">
					<form >
						<div class="form-group">
							<label>Name</label>
							<input type="text"  ng-model="pump.name" class="form-control">
						</div>
						<div class="form-group">
							<label>Switch</label>
							<select class="form-control" ng-model="pump.switch">
								<option value="">---Please select---</option>
								<option ng-repeat="t in gpio" value="{{t.key}}">{{t.value}}</option>
							</select>
						</div>

						<a class="btn btn-danger" href="" ng-click="clear()"><i class="fa fa-times-circle"></i> Clear</a>
						<a class="btn btn-success" href="" ng-click="save()"><i  class="fa fa-check-circle"></i> Save</a>
					</form>
				</div>
			</div>

		</div>
	</div>


</div>
