<div ng-controller="PumpOverviewController">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
				<div class="panel-heading">
					Hardware
					<div class="dropdown pull-right">
						<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Action
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="createHardware()"><i class="fa fa-pencil-square-o"></i> New Hardware</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<table class="table">
					<thead>
						<td>Name</td>
						<td>Type</td>
						<td>Switch</td>
					</thead>
					<tr ng-repeat="item in hw track by $index">
						<td>
							<a ng-click="edit(item.id)">{{ item.name }}</a>
						</td>
						<td>
							{{ item.type }}
						</td>
						<td>
							{{ item.switch }}
						</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>
