<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.min.js"></script>
    <script language="javascript">
      function pausecomp(ms) {
        ms += new Date().getTime();
        while (new Date() < ms){}
      }
      angular.module('myApp', ['ngResource','ngCookies'])
        .factory("MyBucket",function($resource) {
            return $resource("/api/step/:id",{},{
               query:  {method:'GET', isArray:false },
               update: {
                   method: 'PUT'
               },
               markAllComplete: { method: 'PUT', params: { complete: true }, isArray: true }
            });
        })
        .controller("myCtrl", ['$scope','$resource','$cookies', 'MyBucket',function($scope, $resource, $cookies, MyBucket) {
          /*var mybucket = $resource("/api/step/:id",{},{
             query:  {method:'GET', isArray:false },
             update: {
                 method: 'PUT'
             },
             markAllComplete: { method: 'PUT', params: { complete: true }, isArray: true }
          });*/
          MyBucket.query({},function(response){$scope.hosts = response.objects; console.log(response.objects)});

          $scope.addItem = function() {
            console.log("submitted");
            console.log($scope.newhost);
            MyBucket.save($scope.newhost);
            MyBucket.query({},function(response){$scope.hosts = response.objects;});
          };

          $scope.delItem = function() {
            if (!confirm("Are you sure you want do delete it?")) return;
            MyBucket.delete($scope.delhost);
            MyBucket.query({},function(response){$scope.hosts = response.objects;});
          };
          /*
          $scope.update = function() {
            console.log(mybucket);
            mybucket.update({"id":$scope.delhost.id},$scope.delhost);
            mybucket.query({},function(response){$scope.hosts = response.objects;});
          };
          $scope.read = function() {
            console.log(mybucket);

            mybucket.get({"id":$scope.loadid},function(response){$scope.delhost = response;});
          };
*/



        }]);
    </script>
</head>
<body>
  <div ng-app="myApp">
  <div ng-controller='myCtrl'>
  <div>
    HALO
   <form ng-submit="addItem()">

    <input type="number" class="input-small" ng-model='newhost.id'  placeholder="id">
    <input type="text" class="input-small" ng-model='newhost.name' placeholder="name">
    <button type="submit" class="btn">add</button>
   </form>
  </div>
  <div>
    <form ng-submit="read()">
      <input type="text" ng-model="loadid">
      <button type="submit" class="btn">Load</button>
    </form>
    <form ng-submit="updateall()">
      <input type="text" ng-model="allname">
      <button type="submit" class="btn">UpdateAll</button>
    </form>
    <form ng-submit="update()">
      <input type="text" ng-model="delhost.name">
      <button type="submit" class="btn">Save</button>
    </form>
    <form ng-submit="delItem()">
      <select ng-model="delhost"  ng-options="host.id for host in hosts"></select>
      now selected {{ delhost }}
      <button type="submit" class="btn">delete</button>
    </form>
    <hr>
    <pre>{{hosts|json}}</pre>

  </div>

  </div>
  </div>
</body>
</html>
