<div class="panel panel-default" ng-controller="DashboardHardwareController">
    <div class="panel-heading">
                <span class="headline"><i class="fa fa-chevron-circle-right"></i>  {{ 'HARDWARE' | translate }}

                </span>

    </div>

    <div class="panel-body">
        <button class="btn btn-default" ng-class="p | hardware_state:'Z':switch_state" ng-click="switchGPIO(p.id)"
                ng-repeat="p in actors" ng-if="p.config.hide != true">
            <span class="badge"><i class="fa" ng-class="p.type | hardware_icon "></i></span> {{ p.name }}
        </button>

    </div>
</div>
