<style>
    .temp {
        font-size: 3.0em;
    }

    .headline {
        font-size: 1.5em;
        width: 70%;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
</style>
<div class="row" ng-controller="DashboardKettleController">

    <div class="col-sm-6" ng-repeat="v in kettles track by $index">

        <div class="panel panel-default kettle" ng-class="v | kettle_state:steps">
            <div class="panel-heading">
                <span class="headline"><i class="fa fa-chevron-circle-right"></i> {{ v.name }}

                </span>

                <div uib-tooltip="{{ 'TOOLS' | translate }}" class="btn-group pull-right" uib-dropdown keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
                       <i class="fa fa-wrench"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li ng-if="v.sensorid"><a href="#/chart/{{ v.id }}">{{ 'CHART' | translate }}</a></li>
                        <li><a ng-click="calcVolume(v)">{{ 'CALC_VOLUME' | translate }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12">

        <span uib-tooltip="{{ 'TARGET_TEMP' | translate }}" class="pull-right" ng-if="v.heater | hardware_name:hardware_dict"><i class="fa fa-crosshairs"></i>
          <strong>{{ v.target_temp }}°{{ config["UNIT"] }}</strong>
        </span>

                        <span class="temp" ng-if="v.sensorid" uib-tooltip="{{ 'CURRENT_TEMP' | translate }}"><i
                                class="wi wi-thermometer"></i> <b>{{ v.sensorid | get_temp:temps }}°{{ config["UNIT"] }}</b></span>
                    </div>

                </div>
                <div class="btn-group btn-group-justified" role="group ">
                    <div class="btn-group" role="group" ng-if="v.heater | hardware_name:hardware_dict">
                        <button class="btn btn-default" data-toggle="tooltip"
                                uib-tooltip="{{ 'SET_TARGET_TEMP' | translate }}"
                                role="group" ng-click="setTargetTemp(v)">
                            <span class="badge"><i class="fa fa-crosshairs"></i></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default" data-toggle="tooltip"
                                uib-tooltip="{{ 'SWITCH_AUTOMATIC' | translate }}" role="group"
                                ng-if="v.automatic" ng-class="v | hardware_state:'AUTO':kettle_state"
                                ng-click="switch_automatic(v)">
                            <span class="badge"><i class="fa fa-car"></i></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">

                        <button class="btn btn-default" data-toggle="tooltip"
                                uib-tooltip="{{ 'SWITCH_HEATER' | translate }}" role="group"
                                ng-if="v.heater | hardware_name:hardware_dict"
                                ng-class="v | hardware_state:'H':switch_state"
                                ng-click="switchGPIO(v.heater)">
                            <span class="badge"><i class="fa fa-fire"></i></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">

                        <button class="btn btn-default" data-toggle="tooltip"
                                uib-tooltip="{{ 'SWITCH_AGITATOR' | translate }}"
                                role="group" ng-if="v.agitator | hardware_name:hardware_dict"
                                ng-class="v | hardware_state:'A':switch_state" ng-click="switchGPIO(v.agitator)">
                            <span class="badge"><i class="fa fa-refresh "></i></span>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>