<style>
    .pad {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

    .hideOverflow {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        display: block;
    }
</style>

<div class="panel panel-default" ng-controller="DashboardStepController">
    <div class="panel-heading ">
        <div class="row" ng-if="steps.length > 0">
            <div class="col-xs-6 hideOverflow pad">{{ config["BREWNAME"] }}</div>
            <div class="col-xs-6 pad text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-xs btn-danger" ng-click="reset()"
                            ng-disabled="running == false">{{ 'STOP' | translate }}</button>
                    <button type="button" class="btn btn-xs btn-success" ng-disabled="running"
                            ng-click="start()">{{ 'START' | translate }}</button>
                    <a href="#/steps" class="btn btn-xs btn-default"><i class="fa fa-wrench"></i>&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-class="item | step_state" ng-repeat="item in steps track by $index">

            <div class="row">

                <div class="col-xs-7 pad hideOverflow">
                    <div>
                        <span class="badge" style="font-size: 0.8em">{{ item.type }}</span>
                        <strong>{{ item.name }}</strong></div>

                    <div>
                        <small>{{ toTimestamp(item.start) | date:'HH:mm:ss'}} -
                            {{ toTimestamp(item.end) | date:'HH:mm:ss' }}</small>
                    </div>
                </div>
                <div class="col-xs-5 pad text-center">
                    <div><strong> {{ item.temp }} °{{ config["UNIT"] }}  </strong>

                        <div ng-if="item.state == 'A'" class="btn-group" uib-dropdown keyboard-nav>
                            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary btn-xs"
                                    uib-dropdown-toggle>
                                <i class="fa fa-forward"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                aria-labelledby="simple-btn-keyboard-nav">
                                <li><a ng-click="next()">{{ 'NEXT' | translate }}</a></li>
                                <li><a ng-click="start_timer()">{{ 'START_TIMER' | translate }}</a></li>
                                <li><a ng-click="reset_current()">{{ 'RESET_CURRENT_STEP' | translate }}</a></li>
                            </ul>
                        </div>


                    </div>
                    <div>
                        <small> {{ item.timer }} min</small>
                        <small ng-if="item.timer_start">
                            <br>
                            <timer ng-if="item.state == 'A' && item.timer_start != null"
                                   end-time="toTimestamp(item.timer_start) + (item.timer * 1000 *  60)"
                                   interval="1000"> {{ hhours }}:{{ mminutes }}:{{ sseconds }}
                            </timer>

                            <span ng-if="item.state == 'D'">{{ toTimestamp(item.timer_start) | date:'HH:mm:ss'}}</span>
                        </small>
                    </div>
                </div>

            </div>

        </li>
    </ul>
    <div class="text-center" ng-if="steps.length <= 0">

        <a href="#/steps" style="margin: 20px;" class="btn btn-lg btn-default">{{ 'SETUP_STEPS_NOW' | translate }} <i
                class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>
