<div >
  <form>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
          <div class="panel-heading">
            {{ 'BASIC_DATA' | translate}}
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>{{ 'NAME' | translate}}</label>
              <input required type="text" ng-model="kettle.name" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'THERMOMETER' | translate}} Id</label>
              <select class="form-control" ng-model="kettle.sensorid">
                <option ng-repeat="t in thermometer" value="{{t.key}}" ng-selected="kettle.sensorid == t.key">{{t.value}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>{{ 'SENSOR' | translate}} {{ 'OFFSET' | translate}}</label>
              <input type="text" ng-model="kettle.sensoroffset" class="form-control">
            </div>

            <div class="form-group">
              <label>{{ 'HEATER' | translate}} {{ 'SWITCH' | translate}}</label>
              <select class="form-control" ng-model="kettle.heater">
                <option ng-repeat="t in gpio" value="{{t.key}}" ng-selected="kettle.heater == t.key">{{t.value}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>{{ 'AGITATOR' | translate}} {{ 'SWITCH' | translate}}</label>
              <select class="form-control" ng-model="kettle.agitator">
                <option ng-repeat="t in gpio" value="{{t.key}}" ng-selected="kettle.agitator == t.key">{{t.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
          <div class="panel-heading">
            {{ 'AUTOMATIC' | translate}}
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>{{ 'AUTOMATIC_LOGIC' | translate}}</label>
              <select class="form-control" ng-model="kettle.automatic" ng-options="c.name for c in automatic track by c.name">
                <option value="">---{{ 'PLS_SELECT' | translate}}---</option>
              </select>
            </div>

            <div class="form-group" ng-repeat="p in kettle.automatic.parameter">
              <label>{{p.name}}</label>
              <input type="text" ng-model="p.value" class="form-control">
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
          <div class="panel-heading">
            {{ 'ADDITIONAL_DATA' | translate}}
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>{{ 'HEIGHT_CM' | translate}}</label>
              <input type="text" ng-model="kettle.height" class="form-control">
            </div>
            <div class="form-group">
              <label>{{ 'DIAMETER_CM' | translate}}</label>
              <input type="text" ng-model="kettle.diameter" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>
      <a class="btn btn-danger" href="" ng-click="cancel()"><i class="fa fa-times-circle"></i> {{ 'CLOSE' | translate}}</a>
      <a class="btn btn-danger" href="" ng-if="edit" ng-click="delete()"> <i class="fa fa-trash"></i> {{ 'DELETE' | translate}}</a>
      <a class="btn btn-success" href="" ng-click="save()"><i  class="fa fa-check-circle"></i> {{ 'SAVE' | translate}}</a>
    </p>


  </form>
</div>
