<div ng-controller="KettleOverviewController">

	<div class="row">

		<div class="col-sm-12">
			<div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
				<div class="panel-heading">
					Kettles
<!--
					<div class="btn-group pull-right hidden-xs" role="group">
						<a href ng-click="clearTempLogs()"class="btn btn-default" role="group">
							<i class="fa fa-arrow-circle-left"></i> Clear Temperature Log
						</a>
						<a ng-click="create()" class="btn btn-success" role="group">
							<i class="fa fa-pencil-square-o"></i> New Kettle</a>
					</div>
-->
					<div class="dropdown pull-right ">
						<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Action
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="clearTempLogs()">Clear Temperature Log</a></li>
							<li><a ng-click="create()"><i class="fa fa-pencil-square-o"></i> New Kettle</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<table class="table">
					<thead>
						<td>Name</td>
						<td>Sensor Id</td>
						<td class="hidden-xs">Offset</td>
						<td>Heater</td>
						<td>Agiator</td>
						<td class="hidden-xs">Automatic</td>
						<td class="hidden-xs">Height/Diameter</td>
					</thead>
					<tr ng-repeat="item in kettles track by $index">
						<td>
							<a ng-click="edit(item.id)">{{ item.name }}</a>
						</td>
						<td>
							{{ item.sensorid }}
						</td>
						<td class="hidden-xs">
							{{ item.sensoroffset }}
						</td>
						<td>
							{{ item.heater }}
						</td>
						<td>
							{{ item.agitator }}
						</td>
						<td class="hidden-xs">
							{{ item.automatic.name }}
						</td>
						<td class="hidden-xs">
							{{ item.height }}cm/{{ item.diameter }}cm
						</td>

					</tr>
				</table>

			</div>
		</div>
	</div>


</div>
