<div ng-controller="KBUploadController">

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
        <div class="panel-heading">
          {{ 'AVAILABLE_BREW_RECIPES' | translate}}
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>{{ 'FILTER_BY_NAME' | translate}}</label>
            <input type="text" ng-model="search" />
          </div></div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ 'BREW' | translate}} {{ 'NAME' | translate}}</th>
                <th>{{ 'BREWED' | translate}}</th>
                <th>{{ 'LOAD' | translate}}</th>
              </tr>
            </thead>
            <tr ng-repeat="item in brews | filter:search">
              <td>
                {{item.name}}
              </td>
              <td>
                <i ng-if="item.brewed == 1" class="fa fa-check-circle"></i>

              </td>
              <td>
                <a href class="btn btn-default" ng-click="load(item.id)" >{{ 'LOAD' | translate}}</a>
              </td>
            </tr>
          </table>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
          <div class="panel-heading">
            {{ 'IMPORT_KL_BH' | translate}}
          </div>
          <div class="panel-body">

            <input class="btn btn-default" ng-if="uploader.queue.length < 1" type="file" nv-file-select uploader="uploader" />

            <table class="table" ng-if="uploader.queue.length > 0">
            	<thead>
            		<tr>
            			<th>{{ 'NAME' | translate}}</th>
            			<th>{{ 'SIZE' | translate}}</th>
            			<th>{{ 'STATUS' | translate}}</th>
            			<th>{{ 'ACTIONS' | translate}}</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="item in uploader.queue">
            			<td>
            				<strong>{{ item.file.name }}</strong>
            			</td>
            			<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            			<td class="text-center">
            				<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            				<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            				<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            			</td>
            			<td nowrap>
            				<button type="button" class="btn btn-success" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            					<span class="glyphicon glyphicon-upload"></span> {{ 'UPLOAD' | translate}}
            				</button>
            				<button type="button" class="btn btn-warning " ng-click="item.cancel()" ng-disabled="!item.isUploading">
            					<span class="glyphicon glyphicon-ban-circle"></span> {{ 'CANCEL' | translate}}
            				</button>
            				<button type="button" class="btn btn-danger" ng-click="item.remove()">
            					<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVE' | translate}}
            				</button>
            			</td>
            		</tr>
            	</tbody>
            </table>


          </div>

    </div>
    </div>
  </div>
</div>
