<div ng-controller="StepOverviewController">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
				<div class="panel-heading">
					{{ 'BREW_STEPS' | translate}} {{ config["BREWNAME"]}}


					<div class="btn-group pull-right hidden-xs" role="group">

						<a ng-click="clearAllSteps()" class="btn btn-danger"><i class="fa fa-trash"></i> {{ 'CLR_ALL_STEPS' | translate}}</a>
						<a ng-click="newStep()" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> {{ 'NEW_STEP' | translate}}</a>
						<a href  ng-click="save_to_book()" class="btn btn-default"><i class="fa fa-floppy-o"></i>  {{ 'SAVE_RECIPE' | translate}}</a>
						<a ng-click="showbook()" class="btn btn-primary"><i class="fa fa-book"></i> {{ 'RECIPE_BOOK' | translate}}</a>
						<a href="#/step/kb" class="btn btn-warning">Kleiner Brauhelfer</a>
					</div>

					<div class="dropdown pull-right visible-xs">
						<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Action
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a ng-click="clearAllSteps()"><i class="fa fa-trash"></i> {{ 'CLR_ALL_STEPS' | translate}}</a></li>
							<li><a ng-click="newStep()"><i class="fa fa-pencil-square-o"></i> {{ 'NEW_STEP' | translate}}</a></li>

							<li role="separator" class="divider"></li>
							<li><a href  ng-click="save_to_book()" ><i class="fa fa-floppy-o"></i>  {{ 'SAVE_RECIPE' | translate}}</a></li>
							<li><a ng-click="showbook()"><i class="fa fa-book"></i> {{ 'RECIPE_BOOK' | translate}}</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/step/kb">Kleiner Brauhelfer</a></li>

						</ul>
					</div>



					<div class="clearfix"></div>
				</div>
				<table class="table">
					<thead>
						<td class="col-md-1">{{ 'TYPE' | translate}}</td>
						<td>Step</td>
						<td><i class="wi wi-thermometer"></i>
							<span class="hidden-xs">{{ 'TEMP_SHORT' | translate}}</span>
						</td>
						<td><i class="fa fa-clock-o"></i>
							<span class="hidden-xs">{{ 'TIMER' | translate}}</span>
						</td>
						<td>Kettle</td>
					</thead>
					<tr ng-class="stepStyle(item)" ng-repeat="item in steps track by $index">
						<td class="col-md-1">
							<span class="badge">{{ item.type }}</span>
						</td>
						<td>
							<a ng-click="edit(item.id)">
								<strong>{{ item.name }}</strong>
							</a> <i ng-class="stateClassIcon(item)"></i>
							<br>
							<small>{{ item.start | date:'HH:mm:ss' }} - {{ item.end | date:'HH:mm:ss' }}</small>
						</td>
						<td>
							<span>{{ item.temp }} °{{ config["UNIT"]}}</span>
						</td>
						<td>
							<timer ng-if="item.state == 'A' && item.timer <= 1440 && item.state == 'A' && item.timer_start != null" end-time="toTimestamp(item.timer_start) + (item.timer * 1000 *  60)" interval="1000"> {{hhours}}:{{mminutes}}:{{sseconds}}
							</timer>
							<timer ng-if="item.state == 'A' && item.timer > 1440 && item.state == 'A' && item.timer_start != null" end-time="toTimestamp(item.timer_start) + (item.timer * 1000 *  60)" interval="1000"> {{days}} days {{hhours}}:{{mminutes}}:{{sseconds}}
							</timer>
							 ({{ item.timer }} min) <i ng:if="item.stir_heatup == 'Y'" class="fa fa-refresh">
					</td>
					<td>
						{{ getKettleName(item.kettleid) }}
					</td>
				</tr>
	</table>

</div>
</div>



</div>


</div>
