<div ng-controller="VesselEditController">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" ng-model="vessel.name" class="form-control">
    </div>
    <div class="form-group">
        <label>1Wire Thermometer Id</label>
      <select class="form-control" ng-model="vessel.sensorid">
        <option ng-repeat="t in thermometer" value="{{t.key}}" ng-selected="vessel.sensorid == t.key">{{t.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Heater GPIO</label>
      <select class="form-control" ng-model="vessel.heater">
        <option ng-repeat="t in gpio" value="{{t.key}}" ng-selected="vessel.heater == t.key">{{t.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Agitator GPIO</label>
      <select class="form-control" ng-model="vessel.agitator">
        <option ng-repeat="t in gpio" value="{{t.key}}" ng-selected="vessel.agitator == t.key">{{t.value}}</option>
      </select>
    </div>
  </form>
  <p>
  <a class="btn btn-success" href="" back-button>Back</a>
  <a class="btn btn-danger" href="" ng-click="delete()">Delete</a>
  <a class="btn btn-success" href="" ng-click="save()">Save</a>
</p>
</div>
