
	<script type="text/javascript">



	</script>

<div class="container" ng-controller="FermentationChartController">

    <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
        <div class="panel-heading"><i class="fa fa-line-chart"></i> {{ kettle.name }}</span>
        </div>
        <div id="chart"></div>

        <div id="placeholder" style="width:100%;height:70%;"></div>

        <div id="overview" class="demo-placeholder" style="height: 70px; width: 100%"></div>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="/ui/#/fermentation" class="btn btn-default" role="group">
                <span class="badge">
                <i class="fa fa-arrow-circle-left"></i>
                </span>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="/api/file/fermenter/{{ vid }}" class="btn btn-default" role="group">
                <span class="badge">
                <i class="fa fa-download"></i>
                </span>
            </a>
        </div>
        <div class="btn-group" role="group">
             <button ng-click="clear()" class="btn btn-danger" role="group">
                <span class="badge">
                <i class="fa fa-trash"></i>
            </span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button ng-click="load()" class="btn btn-default" role="group">
                <span class="badge">
                <i class="fa fa-refresh"></i>
            </span>
            </button>

        </div>
    </div>
</div>
