<style>

    .headline {
        font-size: 1em;
        width: 70%;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }

    .fadeMe {
        opacity: 0.7;
        filter: alpha(opacity=20);
        background-color: #000;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: fixed;
    }

    .vertical-center {
        margin-top: 200px;
        width: 100%;
        text-align: center;
    }

</style>

<div ng-controller="FermenterController">


    <div class="panel panel-default text-right" style="padding: 5px; margin-bottom: 5px">
                <button class="btn btn-xs btn-success" ng-click="create()" role="group"><i class="fa fa-plus"></i></button>
    </div>
    <div class="row">
        <div class="col-sm-4" ng-repeat="n in fermenters track by $index">
            <div class="panel panel-default kettle" style="margin-bottom: 5px" data-toggle="tooltip" data-placement="top">
                <div class="panel-heading">
                    <span class="headline"><h4 style="margin: 0px">{{ n.name }}<br><small>{{ n.brewname }}</small></h4>
                        </span>
                    <div class="btn-group pull-right" role="group">
                        <a ng-click="edit(n.id)" class="btn btn-success" role="group">
                            <i class="fa fa-wrench"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body text-center" style="font-size: 1.4em">
                    <div class="row" >
                        <div class="col-xs-6">
                            <span ng-if="n.sensorid">
                            {{ n.sensorid | get_temp:temps }}°{{ config["UNIT"] }}
                            <div style="font-size: 0.5em; margin-top: -5px">Temperature</div>
                                </span>
                        </div>
                        <div class="col-xs-6">
                             {{ n.target_temp }}°{{ config["UNIT"] }}
                             <div style="font-size: 0.5em; margin-top: -5px">Target Temperature</div>
                        </div>
                    </div>
                    <div class="row" ng-if="n.hydrometerid" style="margin-top: 10px">
                        <div class="col-xs-6">
                                {{ hydrometer_temps[n.hydrometerid].temp }}°{{ config["UNIT"] }}
                            <div style="font-size: 0.6em; margin-top: -5px">Hydrometer Temperature</div>

                        </div>
                        <div class="col-xs-6">
                                 {{ hydrometer_temps[n.hydrometerid].wort }}°P
                            <div style="font-size: 0.6em; margin-top: -5px">Original Wort</div>
                        </div>
                    </div>
                    <div class="row" style="font-size: 0.6em; margin-top: 10px" ng-if="n.hydrometerid">
                        Last Update {{ hydrometer_temps[n.hydrometerid].timestamp | date:'yyyy-MM-dd HH:mm:ss' }}
                        </div>
                </div>

                <div class="panel-footer">
                    <div class="btn-group btn-group-justified" role="group ">
                        <div class="btn-group" role="group" ng-if="n.sensorid">
                            <button class="btn btn-sm btn-default"
                                    role="group" ng-click="setTargetTemp(n)">
                                <span class="badge"><i class="fa fa-crosshairs"></i></span>
                            </button>
                        </div>
                        <div class="btn-group" role="group" ng-if="n.sensorid">
                            <button class="btn btn-sm  btn-default" ng-class="n.id | fermenter_state:state"
                                    ng-click="switchAutomatic(n)" role="group">
                                <span class="badge"><i class="fa fa-car"></i></span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-sm  btn-default" ng-if="n.heaterid"
                                    ng-class="n.heaterid | switch_state2:switch_state" ng-click="switchGPIO(n.heaterid)"
                                    role="group">
                                <span class="badge"><i class="fa fa-fire"></i></span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">

                            <button class="btn btn-sm  btn-default" ng-if="n.coolerid"
                                    ng-class="n.coolerid | switch_state2:switch_state" ng-click="switchGPIO(n.coolerid)"
                                    role="group">
                                <span class="badge"><i class="wi wi-snowflake-cold"></i></span>
                            </button>
                        </div>
                        <div class="btn-group" role="group" ng-if="n.sensorid">
                            <a href="#/fermentationchart/{{ n.id }}" class="btn btn-sm  btn-default" role="group">
                                <span class="badge"><i class="fa fa-line-chart"></i></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
                <div class="panel-heading">


                    <div class="btn-group pull-right" role="group">


                        <a ng-click="createStep(n)" class="btn btn-success" role="group">
                            <i class="fa fa-plus"></i></a>
                        <a ng-click="stop(n)" class="btn btn-danger" role="group">
                            <i class="fa fa-stop"></i></a>
                        <a ng-click="start(n)" class="btn btn-success" role="group">
                            <i class="fa fa-play"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>


                <table class="table" style="font-size: 1em;" ui-tree="treeOptions(n.id)" id="tree-root{{ $index }}"
                       class="table table-responsive">
                    <tbody ui-tree-nodes ng-model="n.steps">
                    <tr ng-class="f | step_state" ng-repeat="f in n.steps" ui-tree-node>
                        <td>
                            <div width="40px" ui-tree-handle><i class="fa fa-align-justify fa-4"
                                                                aria-hidden="true"> </i></div>
                        </td>
                        <td>
                            <div>
                                <div><a ng-click="editStep(f)">{{ f.name }}</a> &nbsp; {{ f.temp }}°{{ config["UNIT"] }}

                                </div>


                                <div class="text-muted">
                                    <small>{{ 'START' | translate }}:

                                        {{ toTimestamp(f.start) | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                                    <br/>
                                    <small>{{ 'END' | translate }}:
                                        {{ toTimestamp(f.end) | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                                </div>
                            </div>
                            <div  class="text-muted">
                                <small ng-if="f.state == 'A' && f.timer_start != null">
                                    {{ 'TIMER' | translate }}
                                    <timer end-time="getTimer(f)"
                                           interval="1000">{{ days }}
                                        day{{ daysS }} {{ hhours }}:{{ mminutes }}:{{ sseconds }} </timer>
                                </small>
                                <small ng-if="f.state == 'I'">
                                    {{ 'TIMER' | translate }}
                                    <timer countdown="getTime(f)" autostart="false"
                                           interval="1000">{{ days }} day{{ daysS }} {{ hhours }} h {{ mminutes }}
                                        min
                                    </timer>
                                </small>
                                <small ng-if="f.state == 'D'">Timer Start:
                                    {{ toTimestamp(f.timer_start) | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                            </div>
                        </td>
                        <td>


                        </td>
                        <td>
                            <button ng-if="f.state == 'A'" ng-click="next(n)" class="btn btn-primary btn-sm"><i
                                    class="fa fa-forward"></i></button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


    </div>

