<div class="modal-header">
    <h4 class="modal-title">{{ 'FERMENTER_CONFIGURATION' | translate }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>{{ 'NAME' | translate }}</label>
                <input type="text" ng-model="fermenter.name" class="form-control">
            </div>
            <div class="form-group">
                <label>{{ 'BREW_NAME' | translate }}</label>
                <input type="text" ng-model="fermenter.brewname" class="form-control">
            </div>
            <div class="form-group">

                <label>{{ 'THERMOMETER' | translate }}</label>
                <select class="form-control" ng-model="fermenter.sensorid">
                    <option ng-repeat="t in thermometer" value="{{ t.key }}"
                            ng-selected="fermenter.sensorid == t.key">{{ t.value }}</option>
                </select>
            </div>
   <!--
            <div class="form-group" ng-if="hydrometer.length > 1">
                <label>{{ 'HYDROMETER' | translate }}</label>

                <select class="form-control" ng-model="fermenter.hydrometerid">
                    <option ng-repeat="t in hydrometer" value="{{ t.key }}"
                            ng-selected="fermenter.hydrometerid == t.key">{{ t.value }}</option>
                </select>
            </div>


            <div class="form-group" ng-if="fermenter.hydrometerid">
                <label>{{ 'USE_HYDROMETER' | translate}}</label>
                <input type="checkbox" ng-model="fermenter.usehydrometer">
            </div>
            -->
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>{{ 'COOLER' | translate }} {{ 'SWITCH' | translate }}</label>
                <select class="form-control" ng-model="fermenter.coolerid">
                    <option ng-repeat="t in hardware" value="{{ t.key }}"
                            ng-selected="fermenter.coolerid == t.key">{{ t.value }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>{{ 'SWITCH_ON_OFFSET' | translate }}</label>
                <input type="text" class="form-control" ng-model="fermenter.cooleroffset_min">
            </div>
            <div class="form-group">
                <label>{{ 'SWITCH_OFF_OFFSET' | translate }}</label>
                <input type="text" class="form-control" ng-model="fermenter.cooleroffset_max">
            </div>
            <div>
            <label>{{ 'EXAMPLE' | translate }}</label>
                <div>
                    Target Temp = 20°C
                </div>
                <div>
                    Temperature > {{ 20 + parseFloat(fermenter.cooleroffset_min) }}°{{ config["UNIT"] }} = switch on
                </div>
                <div>
                    Temperature < {{ 20 + parseFloat(fermenter.cooleroffset_max) }}°{{ config["UNIT"] }} = switch off
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>{{ 'HEATER' | translate }} {{ 'SWITCH' | translate }}</label>
                <select class="form-control" ng-model="fermenter.heaterid">
                    <option ng-repeat="t in hardware" value="{{ t.key }}"
                            ng-selected="fermenter.heaterid == t.key">{{ t.value }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>{{ 'SWITCH_ON_OFFSET' | translate }}</label>
                <input type="text" class="form-control" ng-model="fermenter.heateroffset_min">
            </div>
            <div class="form-group">
                <label>{{ 'SWITCH_OFF_OFFSET' | translate }}</label>
                <input type="text" class="form-control" ng-model="fermenter.heateroffset_max">
            </div>

            <div>
            <label>{{ 'EXAMPLE' | translate }}</label>
                <div>
                    Target Temp = 20°C
                </div>
                <div>
                    Temperature < {{ 20 - parseFloat(fermenter.heateroffset_min) }}°{{ config["UNIT"] }} = switch on
                </div>
                <div>
                    Temperature > {{ 20 - parseFloat(fermenter.heateroffset_max) }}°{{ config["UNIT"] }} = switch off
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <a class="btn btn-default" href="" ng-click="cancel()"><i class="fa fa-times-circle"></i></a>
    <a class="btn btn-danger" ng-if="edit" ng-click="delete()"> <i class="fa fa-trash"></i></a>
    <a class="btn btn-success" ng-click="save()"><i class="fa fa-check-circle"></i></a>
</div>
