{% raw %}
<div class="panel panel-default" data-toggle="tooltip" data-placement="top">
  <div class="panel-heading"><i class="fa fa-align-left"></i> Protocol</span>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Kommentar" ng-model="message">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addlog()"><i class="fa fa-pencil"></i></button>
      </span>
    </div>
  </div>
  <table class="table table-striped">
    <tr ng-repeat="item in log track by $index">
      <td class="col-md-1">{{item.time | date:'HH:mm:ss'}}</td>
      <td>{{item.text}}</td>
    </tr>
  </table>
</div>
{% endraw %}
