<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'HEATER' | translate }}
        <div class="btn-group pull-right" role="group">
            <a ng-click="add('H')" uib-tooltip="{{ 'ADD' | translate }}" class="btn btn-success"
               role="group">
                <i class="fa fa-plus"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table" style="font-size: 1em">
        <tr>
            <td>{{ 'Name' | translate }}</td>
            <td>{{ 'SWITCH' | translate }}</td>
            <td>{{ 'INVERTED' | translate }}</td>
            <td>{{ 'VISIBILITY' | translate }}</td>
            <td>{{ 'DELETE' | translate }}</td>
        </tr>
        <tr ng-repeat="item in heater track by $index">
            <td><input type="text" ng-model="item.name" class="form-control"/></td>
            <td>
                <select class="form-control" ng-model="item.config.switch">
                    <option value="">---{{ 'PLS_SELECT' | translate }}---</option>
                    <option ng-repeat="t in gpio" value="{{ t.key }}">{{ t.value }}</option>
                </select>
            </td>
            <td><input ng-model="item.config.inverted" type="checkbox" class="form-control"/></td>
            <td><input ng-model="item.config.hide" type="checkbox" class="form-control"/></td>
            <td><a ng-click="remove($index, 'H')" uib-tooltip="{{ 'REMOVE' | translate }}" class="btn btn-danger"
                   role="group">
                <i class="fa fa-trash"></i></a></td>
        </tr>
    </table>
</div>