<h1>{{ 'THANK_YOU' | translate }}</h1>
<h2>{{ 'DONATE' | translate }}</h2>


    <p class="text-center">
        <a target="_blank" class="btn btn-lg btn-warning" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2X9KR98KJ8YZQ"><i class="fa fa-paypal"></i>Donate
            Now
        </a>
        <button class="btn btn-lg btn-default" wz-next>Let's go brewing</button>
    </p>
    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
