<h1>{{ 'THERMOMETER_TYPE' | translate }}</h1>
<p>{{ 'THERMOMETER_TYPE_SUBHEADLINE' | translate }}</p>
<div class="row">

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" ng-click="setThermometer('1WIRE')">1WIRE</button>
        <button type="button" class="btn btn-primary" ng-click="setThermometer('1WIRE')">USB</button>

        <button type="button" class="btn btn-primary" ng-click="setThermometer('DUMMY')">Dummy</button>
    </div>
</div>
