<h3>{{ 'HARDWARE_CONFIG' | translate}}</h3>
<a class="btn btn-default" href="" ng-click="addHardware()"><i  class="fa fa-plus"></i> {{ 'ADDITIONAL_HW' | translate}} </a>

<form class="form-inline" ng-repeat="h in hardware track by $index">
  <div class="form-group">
    <input type="text" class="form-control" ng-model="h.name" placeholder="Hardware Name">
  </div>
  <div class="form-group">

    <select class="form-control" ng-model="h.switch">
      <option value="">---{{ 'PLS_SELECT' | translate}}---</option>
      <option ng-repeat="t in gpio" value="{{t.key}}">{{t.value}}</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="h.type">
      <option value="">---{{ 'PLS_SELECT' | translate}}---</option>
      <option ng-repeat="t in type" value="{{t.key}}">{{t.value}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-danger" ng-click="removeHardware($index)"><i class="fa fa-trash"></i></button>
</form>
