<h3>{{ 'HOW_WOULD_YOU_CONNECT' | translate}}</h3>
<div class="row">
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="/static/raspi.png"/>
      <div class="caption">
        <h3>GPIO</h3>
        <p>{{ 'PLAIN' | translate}} Raspberry GPIO<br>&nbsp;
        </p>
        <a class="btn btn-primary" role="button" ng-click="selectHardware('GPIO')">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail " >
<img src="/static/piface.png"/>
      <div class="caption">
          <h3>PIFace</h3>
        <p>PI Face Extension Board<br>&nbsp;</p>
          <a class="btn btn-primary" role="button" ng-click="selectHardware('PIFACE')">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a>
        </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="/static/socket.png"/>
      <div class="caption">
          <h3>Gembrid</h3>
            <p>USB {{ 'SOCKET' | translate}}<br>&nbsp;</p>
          <a class="btn btn-primary" role="button" ng-click="selectHardware('GEMBIRD')">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="/static/dummy.png"/>
      <div class="caption">
          <h3>Dummy</h3>
          <p>{{ 'DUMMY_DESC' | translate}}</p>
          <a class="btn btn-primary" role="button" ng-click="selectHardware('DUMMY')">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a>
      </div>
    </div>
  </div>
</div>
