<h3>How many kettles would you like to setup?</h3>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>1 Kettle</h3>
        <p>For example an Automatic Preserving Cooker
          <br>&nbsp;</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="selectkettle(1)">Select <i class="fa fa-forward"></i></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>2 Kettle</h3>
        <p>For example Mash Tun and Hot Liquor Tank
          <br>&nbsp;</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="selectkettle(2)">Select <i class="fa fa-forward"></i></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>3 Kettle</h3>
        <p>For example Mash Tun, Boil Tank and Hot Liquor Tank (RIMS / HERMS)</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="selectkettle(3)">Select <i class="fa fa-forward"></i></a></p>
      </div>
    </div>
  </div>
</div>
