<h3>{{ 'HOW_MANY_KETTLES' | translate}}</h3>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>1 {{ 'KETTLE' | translate}}</h3>
        <p>{{ 'EG_AUTO_COOKER' | translate}}
          <br>&nbsp;</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="selectkettle(1)">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>2 {{ 'KETTLE' | translate}}</h3>
        <p>{{ 'EG_MASH_HOT' | translate}}
          <br>&nbsp;</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="selectkettle(2)">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>3 {{ 'KETTLE' | translate}}</h3>
        <p>{{ 'EG_MASH_HOT_BOIL' | translate}}</p>
        <p><a href="" class="btn btn-primary" role="button" ng-click="selectkettle(3)">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a></p>
      </div>
    </div>
  </div>
</div>
