<div class="container" ng-controller="SetupController">




  <div class="row">
    <div class="panel panel-default kettle" data-toggle="tooltip" data-placement="top">
      <div class="panel-body">
        <wizard on-finish="finish()" template="/base/static/partials/setup/wizard.html">

          <wz-step title="Starting">
            <span ng-include="'/base/static/partials/setup/select.html'" />
          </wz-step>
          <wz-step title="Continuing" wz-disabled="{{disabled}}">
            <span ng-include="'/base/static/partials/setup/kettleconfig.html'" />
          </wz-step>



          <wz-step title="More steps" canenter="enterValidation">
              <span ng-include="'/base/static/partials/setup/validate.html'" />
          </wz-step>
        </wizard>
      </div>
    </div>

    <button ng-click="woohoo()">HALLO</button>
  </div>
