<h3>{{ 'WHICH_TYPE_THERM' | translate}}</h3>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/1wire.png"/>
      <div class="caption">
        <h3>1WIRE</h3>
        <p>1WIRE DS18B20 {{ 'THERMOMETER' | translate}}<br>&nbsp;</p>
        <a class="btn btn-primary" role="button" ng-click="selectThermometer('1WIRE')">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/dummy.png"/>
      <div class="caption">
          <h3>DUMMY</h3>
          <p>{{ 'DUMMY_DESC' | translate}}</p>
          <a class="btn btn-primary" role="button" ng-click="selectThermometer('DUMMY')">{{ 'SELECT' | translate}} <i class="fa fa-forward"></i></a>
        </div>
    </div>
  </div>
</div>
