<h3>Please check your data</h3>

<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="item in kettles track by $index">
    <div class="panel panel-default">
      <div class="panel-heading">
        Kettle {{$index + 1}}
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4">Name</label>
            <div class="col-sm-8">
              {{item.name}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Thermometer</label>
            <div class="col-sm-8">
              {{item.sensorid}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Heater GPIO</label>
            <div class="col-sm-8">
              {{item.heater}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Agitator GPIO</label>
            <div class="col-sm-8">
              {{item.agitator}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Heigth in cm</label>
            <div class="col-sm-8">
              {{item.height}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Diameter in cm</label>
            <div class="col-sm-8">
              {{item.diameter}}
            </div>
          </div>
      </div>

    </div>
    </form>
  </div>
</div>
<a class="btn btn-primary" href="" wz-previous><i class="fa fa-backward"></i> Back</a>
<a class="btn btn-primary" href="" wz-next>Let's go brewing <i  class="fa fa-beer"></i> </a>
