<div style="border-radius: 10px; position: fixed; bottom: 0; right: 0; width: 200px;  padding: 10px; z-index: 1000; background: rgba(255,255,255,0.8);">

    <small>DummySensor1</small>
    <rzslider rz-slider-model="sensors.DummySensor1" rz-slider-options="slider.options"></rzslider>
    <small>DummySensor2</small>
    <rzslider rz-slider-model="sensors.DummySensor2" rz-slider-options="slider2.options"></rzslider>
    <small>DummySensor3</small>
    <rzslider rz-slider-model="sensors.DummySensor3" rz-slider-options="slider3.options"></rzslider>




</div>

