<div style="position: fixed; bottom: 0; right: 0; width: 200px;  padding: 10px; z-index: 1000; background: rgba(0,0,0,0.3);">

    <h3>DummySensor1</h3>
    <rzslider rz-slider-model="sensors.DummySensor1" rz-slider-options="slider.options"></rzslider>
    <h3>DummySensor2</h3>
    <rzslider rz-slider-model="sensors.DummySensor2" rz-slider-options="slider2.options"></rzslider>
    <h3>DummySensor3</h3>
    <rzslider rz-slider-model="sensors.DummySensor3" rz-slider-options="slider3.options"></rzslider>




</div>

