
<div class="modal-header" >
    <h4 class="modal-title">{{ 'HARDWARE_CONFIGURATION' | translate}}</h4>
</div>
<div class="modal-body">
     <form name="myform" novalidate>
  <div class="form-group">

    <label>{{ 'NAME' | translate}}</label>
    <input type="text" required  ng-model="hardware.name" class="form-control">
  </div>


  <span ng-if="inArray(hardware.type, ['H','A', 'P'])" ng-include="'static/partials/hardware/switch.html'"/>
  <span ng-if="hardware.type == 'T'"  ng-include="'static/partials/hardware/thermometer.html'"/>

  <span ng-if="hardware.type == 'S'"  ng-include="'static/partials/hardware/hydrometer.html'"/>

  <div class="form-group" ng-if="inArray(hardware.type, ['H','A', 'P', 'T'])">
    <label>{{ 'HIDE_ON_DASHBOARD' | translate}}</label>
    <input type="checkbox" ng-model="hardware.config.hide">
  </div>


         </form>
</div>
<div class="modal-footer">
  <a class="btn btn-default" href="" ng-click="cancel()"><i class="fa fa-times-circle"></i></a>
  <a class="btn btn-danger" ng-if="edit_mode" ng-click="delete()"> <i class="fa fa-trash"></i></a>
  <a class="btn btn-success" ng-disabled="myform.$invalid"  ng-click="ok()"><i  class="fa fa-check-circle"></i></a>
</div>
